# OS / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json

# Reference docs (local only)
OriginalSpecs.md

# Devcontainer
.devcontainer/.env

# Logs
*.log

# Syncthing
config/syncthing/config.xml
config/syncthing/*.db

# WireGuard secrets
config/wireguard/wg0.conf
